@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
/* variable declare */
:root {
  --bg: #0984e3;
  --bg-darker: #2c3e50;
  --text: #ecf0f1;
  --text-darker: #bdc3c7;
  --mainFont: "Recursive";
  --subFont: "Source Sans Pro";
  --logoFont: "Balsamiq Sans";
}

html {
  scroll-behavior: smooth;
}

.hightlight {
  border: 2px solid black;
}

body {
  font-family: var(--mainFont);
}
/* navbar styling */
.logo {
  font-family: var(--logoFont);
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 1%;
}
.logo .navbar-text {
  color: white;
  margin-left: 1%;
}

.logo a:hover {
  text-decoration: none;
}

.navbar {
  transition: 300ms ease-in-out;
  border-radius: 0;
  background: transparent;
}
.navbar-scrolled .logo .navbar-text {
  color: var(--bg-darker);
}
.navbar-scrolled {
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.navbar-scrolled .nav-item > a {
  color: var(--bg-darker);
}

.navbar .nav-item {
  margin: 0 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar .nav-item:hover {
  background: var(--bg);
}

.navbar .nav-item:hover > a {
  color: white;
}

.navbar .navbar-divider {
  margin: 0;
}

.navbar .nav-link {
  font-size: 20px;
  color: white;
}
.active-nav-link {
  background: var(--bg);
}

.active-nav-link a {
  color: white !important;
}
/* dropdown menu  */
.dropdown-menu a {
  font-size: 20px;
}

.mainFont {
  font-family: var(--mainFont);
}

.subFont {
  font-family: var(--subFont);
}

.footer {
  background: var(--bg-darker);
  color: var(--text);
}
/* button  */
.button {
  transition-duration: 0ms;
  color: var(--text);
  background: var(--bg);
  border-radius: 0;
}
.button:hover {
  background: var(--text);
  color: var(--bg);
}

.button-reverse {
  color: var(--bg-darker);
  background: var(--text);
  border-radius: 0;
}

.active-nav-link > a {
  color: white;
}
/* dropdown item  */
.dropdown-item img {
  margin-right: 10%;
  width: 20px !important;
}
.dropdown-item #cart-badge {
  font-size: small;
}
/* utilities  */
.bg-main {
  background: var(--bg);
}
.bg-reverse {
  background: var(--text);
}

.underline {
  text-decoration: underline;
}

.text-main {
  color: var(--bg-darker);
}
.text-reverse {
  color: var(--text);
}
.text-del {
  text-decoration: line-through;
}

.font-md {
  font-size: 20px;
}
.font-sm {
  font-size: 16px;
}
.font-lg {
  font-size: 25px;
}
.font-xl {
  font-size: 30px;
}

.border-none {
  border: none;
  border-radius: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

/* delay utilities  */
.delay-50 {
  transition-delay: 50ms;
}
.delay-100 {
  transition-delay: 100ms;
}
.delay-150 {
  transition-delay: 150ms;
}
.delay-200 {
  transition-delay: 200ms;
}
.delay-250 {
  transition-delay: 250ms;
}
.delay-300 {
  transition-delay: 300ms;
}
.delay-350 {
  transition-delay: 350ms;
}
.delay-400 {
  transition-delay: 400ms;
}
/* layout utilities  */
.reset-layout {
  padding: 0;
  margin: 0;
}
.list-style-none {
  list-style: none;
}
.border-circle {
  border-radius: 50%;
}
